In [1]:
import pandas as pd

In [2]:
eiu_data = pd.read_csv('EIU_Indicators.csv', na_values=['..','--'], encoding="ISO-8859-1")

In [3]:
imf_data = pd.read_csv('IMF_Indicators.csv', na_values=['..','--'], encoding="ISO-8859-1")

In [4]:
mc = ['AFG', 'ALB', 'DZA', 'AZE', 'BHR', 'BGD', 'BEN', 'BRN', 'BFA', 'CMR', 'TCD', 'COM', 'CIV', 'DJI', 'EGY', 'GAB', 'GMB', 'GIN', 'GNB', 'GUY', 'IDN', 'IRN', 'IRQ', 'JOR', 'KAZ', 'KWT', 'KGZ', 'LBN', 'LBY', 'MYS', 'MDV', 'MLI', 'MRT', 'MAR', 'MOZ', 'NER', 'NGA', 'OMN', 'PAK', 'PSE', 'QAT', 'SAU', 'SEN', 'SLE', 'SOM', 'SDN', 'SUR', 'SYR', 'TJK', 'TGO', 'TUN', 'TUR', 'TKM', 'ARE', 'UGA', 'UZB', 'YEM']

In [5]:
countries = "Afghanistan, Albania, Algeria, Azerbaijan, Bahrain, Bangladesh, Benin, Brunei, Burkina Faso, Cameroon, Chad, Comoros, CÃ´te d'Ivoire, Djibouti, Egypt, Gabon, Gambia, Guinea, Guinea-Bissau, Guyana, Indonesia, Iran, Iraq, Jordan, Kazakhstan, Kuwait, Kyrgyz Republic, Lebanon, Libya, Malaysia, Maldives, Mali, Mauritania, Morocco, Mozambique, Niger, Nigeria, Oman, Pakistan, Palestine, Qatar, Saudi Arabia, Senegal, Sierra Leone, Somalia, Sudan, Suriname, Syria, Tajikistan, Togo, Tunisia, Turkey, Turkmenistan, U.A.E., Uganda, Uzbekistan, Yemen"

In [13]:
eiu_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22559 entries, 0 to 22558
Data columns (total 54 columns):
economy             22559 non-null object
indicator           22559 non-null object
code                22559 non-null object
region.cd           3165 non-null object
region.erpd         3213 non-null object
fuel                3837 non-null object
ldmc                3117 non-null object
member              22559 non-null object
groupmember         22405 non-null object
1980                5476 non-null float64
1981                7271 non-null float64
1982                7696 non-null float64
1983                7841 non-null float64
1984                8157 non-null float64
1985                8560 non-null float64
1986                8730 non-null float64
1987                8996 non-null float64
1988                9075 non-null float64
1989                9346 non-null float64
1990                10032 non-null float64
1991                10470 non-null float64
1992                10997 non-null float64
1993                11980 non-null float64
1994                12691 non-null float64
1995                14392 non-null float64
1996                14776 non-null float64
1997                15054 non-null float64
1998                15281 non-null float64
1999                15574 non-null float64
2000                15828 non-null float64
2001                15970 non-null float64
2002                16137 non-null float64
2003                16231 non-null float64
2004                16291 non-null float64
2005                16330 non-null float64
2006                16358 non-null float64
2007                16345 non-null float64
2008                16369 non-null float64
2009                16372 non-null float64
2010                16357 non-null float64
2011                16319 non-null float64
2012                16282 non-null float64
2013                16262 non-null float64
2014                16249 non-null float64
2015                16203 non-null float64
2016                16013 non-null float64
2017                15437 non-null float64
2018                15447 non-null float64
2019                9875 non-null float64
2020                9198 non-null float64
2021                9202 non-null float64
2022                2979 non-null float64
growth 1998-2007    6869 non-null float64
growth 2008-2017    6759 non-null float64
dtypes: float64(45), object(9)
memory usage: 9.3+ MB

In [203]:
def insert_canvas(row):
    list = []
    for item in row[1:]:
        if np.isnan(item):
            list.append('null')
        else:
            item = "{:.2f}".format(item)
            list.append(item)
    list = remove_nulls(list)
    return("<td><canvas id='BHR' class='sparkline' data-chart_values=[{}]></canvas></td></tr>".format(','.join(str(e) for e in list)))

In [209]:
def remove_nulls(list):
    #this function removes all nulls in the beginning of a list
    # used in the function insert_canvas to enable chartjs figures
    while list[0]=='null' and len(list)>1:
        list = list[1:]
    return list

In [151]:
def insert_rowdata(row,start,end):
    import numpy as np
    table = "<tr><th scope='row'>{}</th>".format(row[0])
    year = 2012
    for item in row[start:end]:
        case1 = '<td>{}</td>'
        case2 = "<td class='current'>{}</td>"
        if np.isnan(item):
            item = '..'
        else:
            item = "{:.2f}".format(item)
        
        if year == 2017:
            table = table +case2.format(item)
        else:
            table = table + case1.format(item)
        year = year + 1
    return(table)

In [205]:
def country_html2(df, c_code, c_name):
    import numpy as np
    # for indicators change the folder name
    # also change the trend dates (countries 2012 - 2022 and indicators 1990 - 2022)
    head = '''
     <h1>{} 
                <a href='indicators/xl/{}.xlsx'>
                  <i class="fa fa-file-excel-o" aria-hidden="true" style="float: right"></i>
                  </a>
                  <a href='indicators/pdf/{}.pdf'>
                  <i class="fa fa-file-pdf-o" aria-hidden="true" style="float: right">&nbsp;&nbsp;</i>
                  </a>
                  </h1>
                <div class="table-responsive">
                  <table class="table table-striped table-fixed">
               <thead>
                <tr>
                  <th></th>
                  <th>2012</th>
                  <th>2013</th>
                  <th>2014</th>
                  <th>2015</th>
                  <th>2016</th>
                  <th class='current'>2017</th>
                  <th>2018</th>
                  <th class = 'trend'>Trend (1990-2022)</th> 
                </tr>
               </thead>
               <tbody>

    '''.format(c_name,c_code, c_code)
    foot = '''
                </tbody>
              </table>
            </div> 
            <script src="js/line.js"></script>   
        '''
    insert = ''
    for index, row in df.iterrows():
        # for indicators change the start and end to 23, 30
        # for countries change it to 1 and 8
        insert = insert + insert_rowdata(row,23,30) + insert_canvas(row)

    final = head + insert + foot
#     return final
    Html_file= open("{}.html".format(c_code),"w")
    Html_file.write(final)
    Html_file.close()

In [187]:
import pandas as pd
mc = ['AFG', 'ALB', 'DZA', 'AZE', 'BHR', 'BGD', 'BEN', 'BRN', 'BFA', 'CMR', 'TCD', 'COM', 'CIV', 'DJI', 'EGY', 'GAB', 'GMB', 'GIN', 'GNB', 'GUY', 'IDN', 'IRN', 'IRQ', 'JOR', 'KAZ', 'KWT', 'KGZ', 'LBN', 'LBY', 'MYS', 'MDV', 'MLI', 'MRT', 'MAR', 'MOZ', 'NER', 'NGA', 'OMN', 'PAK', 'PSE', 'QAT', 'SAU', 'SEN', 'SLE', 'SOM', 'SDN', 'SUR', 'SYR', 'TJK', 'TGO', 'TUN', 'TUR', 'TKM', 'ARE', 'UGA', 'UZB', 'YEM']
countries = "Afghanistan, Albania, Algeria, Azerbaijan, Bahrain, Bangladesh, Benin, Brunei, Burkina Faso, Cameroon, Chad, Comoros, CÃ´te d'Ivoire, Djibouti, Egypt, Gabon, Gambia, Guinea, Guinea-Bissau, Guyana, Indonesia, Iran, Iraq, Jordan, Kazakhstan, Kuwait, Kyrgyz Republic, Lebanon, Libya, Malaysia, Maldives, Mali, Mauritania, Morocco, Mozambique, Niger, Nigeria, Oman, Pakistan, Palestine, Qatar, Saudi Arabia, Senegal, Sierra Leone, Somalia, Sudan, Suriname, Syria, Tajikistan, Togo, Tunisia, Turkey, Turkmenistan, U.A.E., Uganda, Uzbekistan, Yemen"
countries = [x.strip() for x in countries.split(',')]
i = 0
for c in mc:
    file = 'countries/xl/{}.xlsx'.format(c)
    df = pd.read_excel(file, header=1, skiprows=1, skip_footer=3, na_values='..')
    country_html2(df, c, countries[i])
    i = i + 1

# indicators

In [135]:
file = 'indicators/xl/GDPPPP.xlsx'

In [141]:
df1 = pd.read_excel(file, header=1, skiprows=1, skip_footer=3, na_values='..', sheetname='countries')

In [144]:
df2 = pd.read_excel(file, header=1, skiprows=1, skip_footer=3, na_values='..', sheetname='aggregates')

In [158]:
df = pd.concat([df1,df2])

In [163]:
country_html2(df, 'GDPPPP', 'Current GDP PPP Per Capita (US$)',23,30)

In [ ]:
country_html2(prepare_html('bud_balance'), 'bud_balance', 'Budget balance (% of GDP)')

In [167]:
def prepare_html(name):
    file = 'indicators/xl/{}.xlsx'.format(name)
    df1 = pd.read_excel(file, header=1, skiprows=1, skip_footer=3, na_values='..', sheetname='countries')
    df2 = pd.read_excel(file, header=1, skiprows=1, skip_footer=3, na_values='..', sheetname='aggregates')
    df = pd.concat([df1,df2])
    return df

In [212]:
country_html2(prepare_html('bud_balance'), 'bud_balance', 'Budget balance (% of GDP)')

In [213]:
country_html2(prepare_html('gov_revenue'), 'gov_revenue', 'General Government Revenue (% of GDP)')

In [214]:
country_html2(prepare_html('gov_expenditure'), 'gov_expenditure', 'General Government Total Expenditure (% of GDP)')

In [215]:
country_html2(prepare_html('saving'), 'saving', 'Gross National Saving (% of GDP)')

In [216]:
country_html2(prepare_html('saving'), 'saving', 'Gross National Saving (% of GDP)')

In [217]:
country_html2(prepare_html('investment'), 'investment', 'Total Investment (% of GDP)')

In [218]:
country_html2(prepare_html('GDPPPP'), 'GDPPPP', 'Current GDP PPP Per Capita (US$)')

In [219]:
country_html2(prepare_html('trade_balance'), 'trade_balance', 'Trade Balance (% of GDP)')

In [220]:
country_html2(prepare_html('gov_debt'), 'gov_debt', 'General Government Gross Debt (% of GDP)')

In [221]:
country_html2(prepare_html('total_debt'), 'total_debt', 'Total Debt (% of GDP)')

In [222]:
country_html2(prepare_html('reserves'), 'reserves', 'International Reserves (US$ Billion)')

In [223]:
country_html2(prepare_html('interest'), 'interest', 'Interest Paid (% of GDP)')

## imf FILES

In [210]:
country_html2(prepare_html('CABGDP'), 'CABGDP', 'Current Account Balance (% Change)')

In [224]:
country_html2(prepare_html('inflation'), 'inflation', 'Inflation, average consumer prices (% Change)')

In [225]:
country_html2(prepare_html('GDP'), 'GDP', 'Real GDP Growth (% Change)')